.container {
}

.reflector {
    width: 26rem;
    height: 28rem;
    background-color: rgb(51, 51, 51);
    border-radius: 0.5rem;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bubbles {
    display: flex;
    gap: 0rem;
    flex-direction: column;
}

.bubbleContainer {
    display: flex;
    align-items: center;
    position: relative;
    left: -1.5rem;
}

.bubbleLabel {
    width: 0.7rem;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
}

.bubble {
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    border-radius: 2rem;
    margin: 0 0.4rem;
}
