.matrix {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    left: -0.4rem;
    top: -0.3rem;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 0.939rem;
    align-items: center;
    justify-content: center;
}
.columns {
    display: flex;
    flex-direction: row;
    gap: 0.67rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1.4rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}
